# -- general --#
# mac os x extras
**/.DS_Store
.DS_Store
**/.bin
.bin

# -- catalog_services --#
**/__pycache__

# -- orders_services --#
orders_services/nodejs_graphql/node_modules

# -- users_services --#
users_services/node_modules
**/vendor


#test-Gustavo
**/node_modules
