# -- general --#
# mac os x extras
**/.DS_Store
.DS_Store
**/.bin
.bin

# -- catalog_services --#
catalog_services/nodejs_graphql/node_modules

# -- orders_services --#
orders_services/node_modules

# -- users_services --#
users_services/node_modules

